body {
    font-family: 'Inter', sans-serif;
    background-color: #f2f0ec;
    color: #333;
    padding-top: 100px; /* adjusts content below fixed nav */
    line-height: 1.8;
    font-size: 18px;
  }
 

  a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  
  a:hover {
    color: #777;
  }
  
  header {
    width: 100%;
    background-color: #eceae4;
    border-bottom: 2px solid #333;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 0;
    z-index: 1000;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
  }
  
    /* Footer styling */
    footer {
        margin-top: 4rem;
        text-align: center;
        padding: 2rem;
        background-color: #eceae4;
        border-top: 1px solid #ccc;
      }
      
      .footer-links {
        margin-bottom: 1rem;
      }
      
      .footer-links a {
        margin: 0 1rem;
        font-weight: 600;
      }  